study-jsoup/logs/
study-parent/.settings/
study-parent/bin/
*.project
*.versionsBackup
*.classpath
java-notes/target/
java-notes/.settings/
.settings/
target/
.idea/
*.iml
*/*/bin/
*/*/obj/
*.terraform.lock.hcl
*.terraform
*.tfstate
*.tfstate.backup
*/node_modules/
